@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&family=Inria+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease-in-out;
}

.accordion-content-inner {
  overflow: hidden;
}

.accordion-open {
  grid-template-rows: 1fr;
}